<div class="row">
    <div class="col-md-12">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">
                    Ficha E/S
                </h3>
            </div>
            <div class="card-body p-0 ">
                <div class="tab-content table-responsive">
                    <div class="p-3">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="codFicha" class="col-md-4">Cod Ficha:</label>
                                    <input type="text" id="codFicha" class="form-control col-md-6">
                                </div>
                                <div class="form-group row">
                                    <label for="generadoPor" class="col-md-4">Generado por:</label>
                                    <input type="text" id="generadoPor" class="form-control col-md-6">
                                </div>
                                <div class="form-group row">
                                    <label for="observacion" class="col-md-4">Observacion:</label>
                                    <textarea name="" id="observacion" class="form-control col-md-6">

                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label for="fechaEmision" class="col-md-4">Fecha E.:</label>
                                    <input type="text" id="fechaEmision" class="form-control col-md-6">
                                </div>
                                <div class="form-group row">
                                    <label for="concepto" class="col-md-4">Concepto:</label>
                                    <input type="text" id="concepto" class="form-control col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad Orden</th>
                                    <th>Cantidad Entrante/Saliente</th>
                                    <th>Unidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>00156</td>
                                    <td>Tela Poliester Color Marron</td>
                                    <td>75</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td>
                                        Rollos
                                    </td>
                                </tr>
                                <tr>
                                    <td>00156</td>
                                    <td>Tela Poliester Color Marron</td>
                                    <td>75</td>
                                    <td><input type="text" class="form-control"></td>
                                    <td>
                                        Rollos
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>